@tailwind utilities;

* {
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body, input {
    font-size: 18px;
}

.theme--dark {
    --bg-image: url('bg-desktop-dark.jpg');
    --theme-icon: url('icon-sun.svg');
    --bg: #181824;
    --divider-color: #37394e;

    --list-shadow: none;

    --item__bg: #25273c;
    --item__text-color: #bec0d9;
    --item__text-color--completed: #4b4d62;

    --filter-color: #5a5c77;
    --filter-hover-color: #e7eaf6;
}

.theme--light {
    --bg-image: url('bg-desktop-light.jpg');
    --theme-icon: url('icon-moon.svg');
    --bg: #fafafa;
    --divider-color: #eae9ed;

    --list-shadow: 0px 10px 50px 0px rgb(0 0 0 / 10%);

    --item__bg: #ffffff;
    --item__text-color: #515367;
    --item__text-color--completed: #d2d2d4;

    --filter-color: #9d9da4;
    --filter-hover-color: #45485b;
}

.todo__checkbox {
    background: #383b57;
    padding: 1px;
}

.todo.completed .todo__checkbox{
    background: linear-gradient(135deg, rgba(113,189,251,1) 0%, rgba(159,116,231,1) 100%);
}

.todo__checkbox > div {
    background: var(--item__bg);
}

.todo.completed .todo__checkbox > div {
    background: transparent;
}

.todo.completed .todo__checkbox img {
    display: block;
}

.todo:hover .todo__icon-right {
    visibility: visible;
}

.todo:hover .todo__checkbox {
    background: linear-gradient(135deg, rgba(113,189,251,1) 0%, rgba(159,116,231,1) 100%);
}

.todo .todo__label {
    color: var(--item__text-color);
}

.todo.completed .todo__label {
    text-decoration: line-through;
    color: var(--item__text-color--completed);
}

/* .filter:hover {
    color: var(--filter-color);
} */

.filter:hover {
    color: var(--filter-hover-color);
}

.app__container {
    width: 35rem;
}

.app__lg-invisible {
    visibility: hidden;
}

@media screen and (max-width: 40rem) {
    .app__container {
        width: 100%;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .theme--dark {
        --bg-image: url('bg-mobile-dark.jpg');
    }
    
    .theme--light {
        --bg-image: url('bg-mobile-light.jpg');
    }

    .app__filter-desktop {
        display: none;
    }

    .app__filter-mobile {
        display: flex;
    }

    .app__sm-visible {
        visibility: visible;
    }
}

.app__item-bg-color {
    background-color: var(--item__bg);
}
